flows.json
[{"id":"8f10ca2c.512a28","type":"tab","label":"ModBusRead","disabled":false,"info":""},{"id":"68d8fd87.208d14","type":"tab","label":"Inverter Monitoring","disabled":false,"info":""},{"id":"432c214a.859e1","type":"tab","label":"Publish Externally","disabled":false,"info":""},{"id":"20f5b48f.283ffc","type":"subflow","name":"Timer Settings (2)","info":"","category":"","in":[{"x":500,"y":320,"wires":[{"id":"dd09ea56.667bf8"}]}],"out":[{"x":740,"y":320,"wires":[{"id":"dd09ea56.667bf8","port":0}]}],"env":[{"name":"TimerNumber","type":"num","value":""},{"name":"PayloadON","type":"str","value":""},{"name":"PayloadOFF","type":"str","value":""}],"color":"#DDAA99"},{"id":"1ada5263.425c2e","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b40e4859.229b98","1f94c63.aca963a"],"x":1354,"y":757,"w":1092,"h":84},{"id":"7bc6de44.e53c4","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b304e4d8.5cb168","deb5396d.ebbee8"],"x":1354,"y":259,"w":1032,"h":82},{"id":"6687100f.d0d26","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7d97311b.859fa","23c7b271.e0487e"],"x":1354,"y":2217,"w":1092,"h":84},{"id":"b3a1335e.0e462","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["17d696ff.6e6cf9","1cc51da8.a92392"],"x":1354,"y":2317,"w":1112,"h":84},{"id":"3a1e8bdf.3765d4","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6e6a43de.48095c","b436db30.06d298"],"x":1354,"y":2519,"w":1112,"h":82},{"id":"8a4fc808.5618d8","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bbd5f0bd.05a67","989a2c3.80549d","e77ac71d.9f50b8","49a3e74f.5847b8"],"x":1354,"y":899,"w":1072,"h":142},{"id":"9b272057.514fe","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f04e028b.826a9","9e5d78e0.364028"],"x":1354,"y":359,"w":1092,"h":82},{"id":"eb4f3bf4.646728","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["69967584.b46c0c","8c0b5d0d.3b7e7"],"x":1354,"y":1879,"w":1052,"h":82},{"id":"cc6bcf78.3b6dd","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1a8139d5.b8ecd6","62778f.2821a87"],"x":1354,"y":1779,"w":1052,"h":82},{"id":"13db626a.eb2f1e","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c13f8a7d.294ed8","248ab622.6b8e3a"],"x":1354,"y":559,"w":1072,"h":82},{"id":"fa29344b.39c3c8","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["577671ce.8062","96f53dd3.6424e"],"x":1354,"y":1399,"w":1112,"h":82},{"id":"94508efb.b107a","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["99633bea.0c3e28","28fefedf.28c022"],"x":1354,"y":1259,"w":1092,"h":82},{"id":"2db0ac88.6491a4","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b11818dd.baab18","a0aeb5e.b6d8d48"],"x":1354,"y":1679,"w":1032,"h":82},{"id":"5ac747c6.f3ab38","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9ec8d1d4.2796","e44b6913.4996c8"],"x":1354,"y":2119,"w":1072,"h":82},{"id":"da1d1b5a.fb7a48","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c394e4a0.377b28","c254151b.d4c2c8"],"x":1354,"y":1159,"w":1092,"h":82},{"id":"cf6b3c9f.92d57","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f85810ad.0a76f","fcb377d.5165788"],"x":1354,"y":1059,"w":1052,"h":82},{"id":"225a726f.3663ce","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["45783e8.85686c","db54d3a1.b5711"],"x":1354,"y":659,"w":1032,"h":82},{"id":"60ef111c.5b63e","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a3798e2.5e0317","f57d2a36.0ddcc8"],"x":1354,"y":459,"w":1092,"h":82},{"id":"8ba05b92.9e92e8","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["41f0ee60.85555","cd7cbd7d.0a14b"],"x":1354,"y":1579,"w":1032,"h":82},{"id":"27cf4799.d921d8","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["96c454ae.f82c48","66d286ce.610c88"],"x":1354,"y":139,"w":1052,"h":82},{"id":"f89acea9.f26e6","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f68a7aa8.649298","4d810dab.757054"],"x":1354,"y":2419,"w":1092,"h":82},{"id":"e4ac6a78.0e6d38","type":"group","z":"68d8fd87.208d14","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["843eba07.2d1458","f3157f16.c1f91"],"x":1354,"y":2019,"w":1072,"h":82},{"id":"d239680b.10de98","type":"ui_group","name":"Solar - Time Zones","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"119efd5a.d73d53","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d1ac2824.460d18","type":"ui_group","name":"Solar - Battery SoC","tab":"f1630280.20d9e","order":2,"disp":true,"width":"6","collapse":false},{"id":"b75bd6ef.1b6b98","type":"ui_group","name":"Solar - Grid Charge","tab":"185f31e8.09195e","order":3,"disp":true,"width":"6","collapse":false},{"id":"d7862f63.0c3fc","type":"ui_group","name":"Solar - Settings","tab":"185f31e8.09195e","order":4,"disp":true,"width":"8","collapse":false},{"id":"5bc5c081.5e4","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7452c96.42e6d","type":"ui_spacer","name":"spacer","group":"d239680b.10de98","order":7,"width":1,"height":1},{"id":"d0f098d9.0f64c8","type":"ui_group","name":"Battery Settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"3711a802.10fd98","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"9cf14e7b.5ead8","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"59520a03.f2cb44","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7da7fd6.dcd9f","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"83340062.c52a6","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"428543ca.b0481c","type":"ui_group","name":"Solar - Time Zones","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a200b7f.e9c844","type":"ui_group","name":"Solar - Battery SoC","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7d0870ab.dd503","type":"ui_group","name":"Solar - Grid Charge","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"e28d31eb.67f63","type":"ui_group","name":"Solar - Settings","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"6a40abec.2109f4","type":"ui_group","name":"Battery Settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"a04125a4.547d28","type":"ui_group","name":"Solar - Time Zones","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"81d859d2.e32718","type":"ui_group","name":"Solar - Battery SoC","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b64753fe.b1eb2","type":"ui_group","name":"Solar - Grid Charge","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6c77aeb8.65074","type":"ui_group","name":"Solar - Settings","tab":"","order":4,"disp":true,"width":"8","collapse":false},{"id":"79da24ff.4d56ac","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e50cfaa3.fb1358","type":"ui_spacer","name":"spacer","group":"a04125a4.547d28","order":7,"width":1,"height":1},{"id":"5a88d3f.98e1c2c","type":"ui_group","name":"Battery Settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"9438f0e9.a5b55","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"263125bf.93fdda","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c209bc5f.539b3","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2752c8ec.581b48","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c12ae2ed.780b9","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac020d0c.0d819","type":"ui_group","name":"Solar - Time Zones","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"465b323.5a292cc","type":"ui_group","name":"Solar - Battery SoC","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a6cc1c1d.b11fe","type":"ui_group","name":"Solar - Grid Charge","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b2e25c20.e4626","type":"ui_group","name":"Solar - Settings","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"2ce95472.61538c","type":"ui_group","name":"Battery Settings","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"e58adf35.07bda","type":"modbus-client","name":"Inverter","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"192.168.1.111","tcpPort":"8899","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"200","unit_id":1,"commandDelay":1000,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"f35ad748.1790a8","type":"mqtt-broker","name":"SunSynk","broker":"192.168.3.36","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"332d824c.c7d53e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"InverterDB","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"b8c53cf1.ab4e4","type":"ui_tab","name":"System Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bded4c6c.4d80c","type":"ui_group","name":"Solar - Time Zones","tab":"b8c53cf1.ab4e4","order":1,"disp":true,"width":"6","collapse":true},{"id":"390e3beb.306c94","type":"ui_group","name":"Solar - Battery SoC","tab":"b8c53cf1.ab4e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"b7da8ffe.4e9ea","type":"ui_group","name":"Solar - Grid Charge","tab":"b8c53cf1.ab4e4","order":4,"disp":true,"width":"6","collapse":false},{"id":"5c1577a6.26f468","type":"ui_group","name":"Solar - Settings","tab":"b8c53cf1.ab4e4","order":5,"disp":true,"width":"8","collapse":false},{"id":"185f31e8.09195e","type":"ui_tab","name":"Monitor","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7086287.7d055d8","type":"ui_group","name":"Group 1","tab":"185f31e8.09195e","order":1,"disp":true,"width":6},{"id":"7e4898c2.c13f78","type":"ui_spacer","name":"spacer","group":"bded4c6c.4d80c","order":7,"width":1,"height":1},{"id":"96e729df.b8f718","type":"ui_group","name":"Battery Settings","tab":"b8c53cf1.ab4e4","order":6,"disp":true,"width":"6","collapse":false},{"id":"b15210b4.4a59a","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6"},{"id":"f4fdac2d.90f54","type":"websocket-client","path":"http://loadshedding.eskom.co.za/LoadShedding/GetStatus","tls":"","wholemsg":"false"},{"id":"97d8e069.69375","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b167bd7.abc604","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"56b5b1f0.55cfd","type":"ui_group","name":"Gate #2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b32d370.7a765c","type":"ui_group","name":"Gate #1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f1c9eb7.61f711","type":"ui_tab","name":"Default Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"eba58bb7.c430a8","type":"ui_group","name":"Solar - Time Zones","tab":"1f1c9eb7.61f711","order":1,"disp":true,"width":"6","collapse":false},{"id":"73cfa50f.79c52c","type":"ui_group","name":"Solar - Battery SoC","tab":"1f1c9eb7.61f711","order":2,"disp":true,"width":"6","collapse":false},{"id":"29131363.c9d0cc","type":"ui_group","name":"Solar - Grid Charge","tab":"1f1c9eb7.61f711","order":4,"disp":true,"width":"6","collapse":false},{"id":"27c980fb.026e6","type":"ui_group","name":"Solar - Settings","tab":"1f1c9eb7.61f711","order":5,"disp":true,"width":"6","collapse":false},{"id":"f37631fb.65d3d","type":"ui_group","name":"Battery Settings","tab":"1f1c9eb7.61f711","order":6,"disp":true,"width":"6","collapse":false},{"id":"801d051.dbea6f8","type":"ui_group","name":"Selling Point","tab":"b8c53cf1.ab4e4","order":3,"disp":true,"width":"6","collapse":false},{"id":"c176263e.5afff8","type":"ui_group","name":"Selling Point","tab":"1f1c9eb7.61f711","order":3,"disp":true,"width":"6","collapse":false},{"id":"d0c76256.069f1","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b662ff46.2c09c","type":"ui_group","name":"Time Zone 1","tab":"404aace1.054814","order":2,"disp":true,"width":"6","collapse":false},{"id":"404aace1.054814","type":"ui_tab","name":"Time Mode","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"4808941f.6fe4ac","type":"ui_tab","name":"LoadShedding Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"86caf30d.c8e27","type":"ui_group","name":"Solar - Time Zones","tab":"4808941f.6fe4ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b83a76f.c0b038","type":"ui_group","name":"Solar - Battery SoC","tab":"4808941f.6fe4ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"f539bc70.ebe38","type":"ui_group","name":"Selling Point","tab":"4808941f.6fe4ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"1d4abb48.c4b3b5","type":"ui_group","name":"Solar - Grid Charge","tab":"4808941f.6fe4ac","order":4,"disp":true,"width":"6","collapse":false},{"id":"2bdc5788.326cb8","type":"ui_group","name":"Battery Settings","tab":"4808941f.6fe4ac","order":6,"disp":true,"width":"6","collapse":false},{"id":"9624da65.449d08","type":"ui_group","name":"Solar Settings","tab":"4808941f.6fe4ac","order":5,"disp":true,"width":"6","collapse":false},{"id":"f1630280.20d9e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dd09ea56.667bf8","type":"function","z":"20f5b48f.283ffc","name":"","func":"var x = env.get(\"TimerNumber\"); \nvar y = env.get(\"PayloadON\"); \nvar z = env.get(\"PayloadOFF\"); \n\nflow.set(\"$parent.Timer\"+x, x);\nflow.set(\"$parent.Payload\"+x+\"_on\", y);\nflow.set(\"$parent.Payload\"+x+\"_off\", z);\n\n\n\nmsg.payload = \"Your timer \" + x + \" has been set\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":320,"wires":[[]]},{"id":"6e1910e4.f15b2","type":"link in","z":"8f10ca2c.512a28","name":"MonitoringIn","links":["763b40c2.713b"],"x":755,"y":620,"wires":[["101fc642.cd82fa"]]},{"id":"5ee81fa9.5b58d","type":"link out","z":"8f10ca2c.512a28","name":"Monitoring Out","links":["d49ce5aa.e38d08"],"x":1335,"y":620,"wires":[]},{"id":"101fc642.cd82fa","type":"modbus-flex-getter","z":"8f10ca2c.512a28","name":"Inverter","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"server":"e58adf35.07bda","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":true,"x":1060,"y":620,"wires":[[],["5ee81fa9.5b58d","aa6197b0.9a4548"]]},{"id":"3e4dd2e2.360b0e","type":"comment","z":"8f10ca2c.512a28","name":"Monitoring_Read_In","info":"","x":710,"y":580,"wires":[]},{"id":"8ec06541.960d18","type":"comment","z":"8f10ca2c.512a28","name":"Monitoring_Read_Out","info":"","x":1400,"y":580,"wires":[]},{"id":"fc839898.206b18","type":"link in","z":"8f10ca2c.512a28","name":"ModBus_SSReadIn","links":["3179e266.971b8e"],"x":755,"y":700,"wires":[["101fc642.cd82fa"]]},{"id":"aa6197b0.9a4548","type":"link out","z":"8f10ca2c.512a28","name":"ModBus_SSReadOut","links":["e12601ff.e8c8f","ee46212.b23b5e"],"x":1335,"y":700,"wires":[]},{"id":"7b172e5c.6efd2","type":"comment","z":"8f10ca2c.512a28","name":"System_Settings_Read_In","info":"","x":730,"y":660,"wires":[]},{"id":"fc717e5a.12eca","type":"comment","z":"8f10ca2c.512a28","name":"System_Settings_Read_Out","info":"","x":1420,"y":660,"wires":[]},{"id":"843eba07.2d1458","type":"function","z":"68d8fd87.208d14","g":"e4ac6a78.0e6d38","name":"Grid_Import_day - 76 ","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 76, \n    'quantity': 1 }; \nmsg.topic = \"grid_gridbuy_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2060,"wires":[["763b40c2.713b"]]},{"id":"f3157f16.c1f91","type":"function","z":"68d8fd87.208d14","g":"e4ac6a78.0e6d38","name":"Grid_Import_day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_gridbuy_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2060,"wires":[["3f591f5.80816e"]]},{"id":"9ec8d1d4.2796","type":"function","z":"68d8fd87.208d14","g":"5ac747c6.f3ab38","name":"Grid_Export_Day - 77","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 77, \n    'quantity': 1 }; \nmsg.topic = \"grid_export_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":2160,"wires":[["763b40c2.713b"]]},{"id":"e44b6913.4996c8","type":"function","z":"68d8fd87.208d14","g":"5ac747c6.f3ab38","name":"Grid_Export_Day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"grid_export_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2160,"wires":[["3f591f5.80816e"]]},{"id":"a3798e2.5e0317","type":"function","z":"68d8fd87.208d14","g":"60ef111c.5b63e","name":"Grid_Inverter_Voltage - 154","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 154, \n    'quantity': 1 }; \nmsg.topic = \"voltage_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":500,"wires":[["763b40c2.713b"]]},{"id":"f57d2a36.0ddcc8","type":"function","z":"68d8fd87.208d14","g":"60ef111c.5b63e","name":"Grid_Inverter_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":500,"wires":[["3f591f5.80816e"]]},{"id":"c13f8a7d.294ed8","type":"function","z":"68d8fd87.208d14","g":"13db626a.eb2f1e","name":"Grid_Grid_Voltage - 150","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 150, \n    'quantity': 1 }; \nmsg.topic = \"voltage_grid\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":600,"wires":[["763b40c2.713b"]]},{"id":"248ab622.6b8e3a","type":"function","z":"68d8fd87.208d14","g":"13db626a.eb2f1e","name":"Grid_Grid_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"voltage_grid\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":600,"wires":[["3f591f5.80816e"]]},{"id":"bbd5f0bd.05a67","type":"function","z":"68d8fd87.208d14","g":"8a4fc808.5618d8","name":"Total_Load - 178","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 178, \n    'quantity': 1 }; \nmsg.topic = \"total_load\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":940,"wires":[["763b40c2.713b"]]},{"id":"989a2c3.80549d","type":"function","z":"68d8fd87.208d14","g":"8a4fc808.5618d8","name":"Total_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"total_load\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":940,"wires":[["3f591f5.80816e"]]},{"id":"e77ac71d.9f50b8","type":"function","z":"68d8fd87.208d14","g":"8a4fc808.5618d8","name":"Grid_Inverter_Load - 167","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 167, \n    'quantity': 1 }; \nmsg.topic = \"load_grid_inverter\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1000,"wires":[["763b40c2.713b"]]},{"id":"49a3e74f.5847b8","type":"function","z":"68d8fd87.208d14","g":"8a4fc808.5618d8","name":"Grid_Inverter_Load","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"load_grid_inverter\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":1000,"wires":[["3f591f5.80816e"]]},{"id":"f85810ad.0a76f","type":"function","z":"68d8fd87.208d14","g":"cf6b3c9f.92d57","name":"Grid_Grid_CT - 172","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 172, \n    'quantity': 1 }; \nmsg.topic = \"grid_ct\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":1100,"wires":[["763b40c2.713b"]]},{"id":"fcb377d.5165788","type":"function","z":"68d8fd87.208d14","g":"cf6b3c9f.92d57","name":"Grid_Grid_CT","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"grid_ct\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":1100,"wires":[["3f591f5.80816e"]]},{"id":"45783e8.85686c","type":"function","z":"68d8fd87.208d14","g":"225a726f.3663ce","name":"Battery_Volts - 183","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 183, \n    'quantity': 1 }; \nmsg.topic = \"battery_volt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":700,"wires":[["763b40c2.713b"]]},{"id":"db54d3a1.b5711","type":"function","z":"68d8fd87.208d14","g":"225a726f.3663ce","name":"Battery_Volts","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"battery_volt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":700,"wires":[["3f591f5.80816e"]]},{"id":"b304e4d8.5cb168","type":"function","z":"68d8fd87.208d14","g":"7bc6de44.e53c4","name":"Battery_SoC 184","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 184, \n    'quantity': 1 }; \nmsg.topic = \"battery_soc\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":300,"wires":[["763b40c2.713b"]]},{"id":"deb5396d.ebbee8","type":"function","z":"68d8fd87.208d14","g":"7bc6de44.e53c4","name":"Battery_SoC","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"battery_soc\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2290,"y":300,"wires":[["3f591f5.80816e"]]},{"id":"99633bea.0c3e28","type":"function","z":"68d8fd87.208d14","g":"94508efb.b107a","name":"Battery_Output_Power - 190","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 190, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_power\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1300,"wires":[["763b40c2.713b"]]},{"id":"28fefedf.28c022","type":"function","z":"68d8fd87.208d14","g":"94508efb.b107a","name":"Battery_Output_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 1;\n} else {\n    msg.payload = (0 - a) / 1;\n}\nif (msg.topic === \"battery_output_power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1300,"wires":[["3f591f5.80816e"]]},{"id":"577671ce.8062","type":"function","z":"68d8fd87.208d14","g":"fa29344b.39c3c8","name":"Battery_Output_Current - 191","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 191, \n    'quantity': 1 }; \nmsg.topic = \"battery_output_current\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1440,"wires":[["763b40c2.713b"]]},{"id":"96f53dd3.6424e","type":"function","z":"68d8fd87.208d14","g":"fa29344b.39c3c8","name":"Battery_Output_Current","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_output_current\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":1440,"wires":[["3f591f5.80816e"]]},{"id":"96c454ae.f82c48","type":"function","z":"68d8fd87.208d14","g":"27cf4799.d921d8","name":"Overall_State - 59","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 59, \n    'quantity': 1 }; \nmsg.topic = \"overall_state\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":180,"wires":[["763b40c2.713b"]]},{"id":"66d286ce.610c88","type":"function","z":"68d8fd87.208d14","g":"27cf4799.d921d8","name":"Overall_State","func":"if (msg.topic === \"overall_state\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2300,"y":180,"wires":[["3f591f5.80816e"]]},{"id":"7d97311b.859fa","type":"function","z":"68d8fd87.208d14","g":"6687100f.d0d26","name":"Battery_Charge_Day - 70","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 70, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_charge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2260,"wires":[["763b40c2.713b"]]},{"id":"23c7b271.e0487e","type":"function","z":"68d8fd87.208d14","g":"6687100f.d0d26","name":"Battery_Charge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_charge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":2258,"wires":[["3f591f5.80816e"]]},{"id":"b0649bdc.b80a88","type":"gate","z":"68d8fd87.208d14","name":"Monitor_Gate","controlTopic":"monitor_gate","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":380,"y":1200,"wires":[["e06c52af.7e1ad"]]},{"id":"d8f11896.cc0068","type":"inject","z":"68d8fd87.208d14","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["b0649bdc.b80a88"]]},{"id":"17d696ff.6e6cf9","type":"function","z":"68d8fd87.208d14","g":"b3a1335e.0e462","name":"Battery_Discharge_Day - 71","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 71, \n    'quantity': 1 }; \nmsg.topic = \"overall_battery_discharge_day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2360,"wires":[["763b40c2.713b"]]},{"id":"1cc51da8.a92392","type":"function","z":"68d8fd87.208d14","g":"b3a1335e.0e462","name":"Battery_Discharge_Day","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"overall_battery_discharge_day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":2358,"wires":[["3f591f5.80816e"]]},{"id":"b40e4859.229b98","type":"function","z":"68d8fd87.208d14","g":"1ada5263.425c2e","name":"Battery_Charge_Volts - 312","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 312, \n    'quantity': 1 }; \nmsg.topic = \"battery_charge_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":800,"wires":[["763b40c2.713b"]]},{"id":"1f94c63.aca963a","type":"function","z":"68d8fd87.208d14","g":"1ada5263.425c2e","name":"Battery_Charge_Volts","func":"var a\na = (msg.payload.data / -1)\nif (a > 32767) {\n  msg.payload = (0 - a + 65535) / 100;\n} else {\n    msg.payload = (0 - a) / 100;\n}\nif (msg.topic === \"battery_charge_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":798,"wires":[["3f591f5.80816e"]]},{"id":"f04e028b.826a9","type":"function","z":"68d8fd87.208d14","g":"9b272057.514fe","name":"Grid_Grid_Frequency - 079","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 079, \n    'quantity': 1 }; \nmsg.topic = \"grid_frequency\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":400,"wires":[["763b40c2.713b"]]},{"id":"9e5d78e0.364028","type":"function","z":"68d8fd87.208d14","g":"9b272057.514fe","name":"Grid_Grid_Frequency","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"grid_frequency\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":400,"wires":[["3f591f5.80816e"]]},{"id":"41f0ee60.85555","type":"function","z":"68d8fd87.208d14","g":"8ba05b92.9e92e8","name":"Temperature Battery - 182","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 182, \n    'quantity': 1 }; \nmsg.topic = \"temp_batt\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1620,"wires":[["763b40c2.713b"]]},{"id":"b11818dd.baab18","type":"function","z":"68d8fd87.208d14","g":"2db0ac88.6491a4","name":"Temperature Environment - 095","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 095, \n    'quantity': 1 }; \nmsg.topic = \"temp_enviro\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":1720,"wires":[["763b40c2.713b"]]},{"id":"1a8139d5.b8ecd6","type":"function","z":"68d8fd87.208d14","g":"cc6bcf78.3b6dd","name":"Temperature DC Transformer - 090","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 090, \n    'quantity': 1 }; \nmsg.topic = \"temp_DCtrans\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1820,"wires":[["763b40c2.713b"]]},{"id":"69967584.b46c0c","type":"function","z":"68d8fd87.208d14","g":"eb4f3bf4.646728","name":"Temperature Radiator - 091","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 091, \n    'quantity': 1 }; \nmsg.topic = \"temp_radiator\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":1920,"wires":[["763b40c2.713b"]]},{"id":"cd7cbd7d.0a14b","type":"function","z":"68d8fd87.208d14","g":"8ba05b92.9e92e8","name":"Temp_Batt","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_batt\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1620,"wires":[["3f591f5.80816e"]]},{"id":"a0aeb5e.b6d8d48","type":"function","z":"68d8fd87.208d14","g":"2db0ac88.6491a4","name":"temp_enviro","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"temp_enviro\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":1720,"wires":[["3f591f5.80816e"]]},{"id":"62778f.2821a87","type":"function","z":"68d8fd87.208d14","g":"cc6bcf78.3b6dd","name":"temp_DCtrans","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 100;\n} else {\n    msg.payload = (a) / 100;\n}\nif (msg.topic === \"temp_DCtrans\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1820,"wires":[["3f591f5.80816e"]]},{"id":"8c0b5d0d.3b7e7","type":"function","z":"68d8fd87.208d14","g":"eb4f3bf4.646728","name":"temp_radiator","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = ((a - 65535)-1000) / 10;\n} else {\n    msg.payload = ((a)-1000) / 10;\n}\nif (msg.topic === \"temp_radiator\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":1920,"wires":[["3f591f5.80816e"]]},{"id":"c394e4a0.377b28","type":"function","z":"68d8fd87.208d14","g":"da1d1b5a.fb7a48","name":"Inverter_total_power - 175","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 175, \n    'quantity': 1 }; \nmsg.topic = \"invrt_total_pwr\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":1200,"wires":[["763b40c2.713b"]]},{"id":"c254151b.d4c2c8","type":"function","z":"68d8fd87.208d14","g":"da1d1b5a.fb7a48","name":"Inverter_total_power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"invrt_total_pwr\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2320,"y":1200,"wires":[["3f591f5.80816e"]]},{"id":"d49ce5aa.e38d08","type":"link in","z":"68d8fd87.208d14","name":"ModBusRead_In","links":["c9dbf7d1.cf6138","5ee81fa9.5b58d"],"x":1935,"y":1500,"wires":[["49a3e74f.5847b8","f3157f16.c1f91","e44b6913.4996c8","f57d2a36.0ddcc8","248ab622.6b8e3a","989a2c3.80549d","fcb377d.5165788","db54d3a1.b5711","deb5396d.ebbee8","28fefedf.28c022","96f53dd3.6424e","66d286ce.610c88","23c7b271.e0487e","1cc51da8.a92392","1f94c63.aca963a","9e5d78e0.364028","cd7cbd7d.0a14b","a0aeb5e.b6d8d48","62778f.2821a87","8c0b5d0d.3b7e7","c254151b.d4c2c8","4d810dab.757054","b436db30.06d298","c5fb7034.1a2a2","6796dcb4.12f454","c18a8da5.2299b"]]},{"id":"763b40c2.713b","type":"link out","z":"68d8fd87.208d14","name":"ModBusRead_Out","links":["33447edd.f55762","6e1910e4.f15b2"],"x":1835,"y":1500,"wires":[]},{"id":"f68a7aa8.649298","type":"function","z":"68d8fd87.208d14","g":"f89acea9.f26e6","name":"DayActive PowerWh - 60","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 60, \n    'quantity': 1 }; \nmsg.topic = \"dayactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1490,"y":2460,"wires":[["763b40c2.713b"]]},{"id":"6e6a43de.48095c","type":"function","z":"68d8fd87.208d14","g":"3a1e8bdf.3765d4","name":"DayReactive_PowerWh - 061","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 61, \n    'quantity': 1 }; \nmsg.topic = \"dayreactive_powerWh\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":2560,"wires":[["763b40c2.713b"]]},{"id":"4d810dab.757054","type":"function","z":"68d8fd87.208d14","g":"f89acea9.f26e6","name":"DayActive PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":2460,"wires":[["3f591f5.80816e"]]},{"id":"b436db30.06d298","type":"function","z":"68d8fd87.208d14","g":"3a1e8bdf.3765d4","name":"DayReactive_PowerWh","func":"var a\na = (msg.payload.data / 10)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"dayreactive_powerWh\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":2560,"wires":[["3f591f5.80816e"]]},{"id":"3f591f5.80816e","type":"link out","z":"68d8fd87.208d14","name":"Send to MQTT ","links":["118dd23d.2cd0de","bf0bad92.83ec9"],"x":2775,"y":1060,"wires":[]},{"id":"e06c52af.7e1ad","type":"cycle","z":"68d8fd87.208d14","name":"","outputs":22,"x":570,"y":1200,"wires":[["54c4c1cd.cf985","133dfffa.fc00e","f7b10ee2.2841","d8a97c47.16d1a"],["cefeb58d.a1b3d8"],["a932efa5.9cefb"],["654b152e.889a7c"],["7ca803d0.d9380c"],["5a8f71b3.c07e3"],["2dc7ef48.54b69"],["a00736d9.5d4da8"],["74eeeb2f.79c414"],["2e01a1d7.6dbfae"],["94b5f32f.52c2b"],["a21c0471.767cc8"],["d0eadafd.65ec08"],["790be676.0f5cb8"],["ce54c4a9.0fa6f8"],["d77a00dc.39065"],["44080fc6.468e7"],["3591ff39.ab9ce"],["211eb29b.8b69de"],["c0c49d3.e230f6"],["8c0bacfb.f9658"],["a5ee2339.41241"]]},{"id":"74eeeb2f.79c414","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1100,"wires":[["f85810ad.0a76f"]]},{"id":"7ca803d0.d9380c","type":"change","z":"68d8fd87.208d14","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[["45783e8.85686c"]]},{"id":"cefeb58d.a1b3d8","type":"change","z":"68d8fd87.208d14","name":"Frequency","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"none","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"hz","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["f04e028b.826a9"]]},{"id":"54c4c1cd.cf985","type":"change","z":"68d8fd87.208d14","name":"Percentage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"battery","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"%","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["b304e4d8.5cb168"]]},{"id":"ce54c4a9.0fa6f8","type":"change","z":"68d8fd87.208d14","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1820,"wires":[["1a8139d5.b8ecd6"]]},{"id":"a21c0471.767cc8","type":"change","z":"68d8fd87.208d14","name":"Current","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"current","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"A","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1440,"wires":[["577671ce.8062"]]},{"id":"211eb29b.8b69de","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2260,"wires":[["7d97311b.859fa"]]},{"id":"5a8f71b3.c07e3","type":"change","z":"68d8fd87.208d14","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":800,"wires":[["b40e4859.229b98"]]},{"id":"a932efa5.9cefb","type":"change","z":"68d8fd87.208d14","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":500,"wires":[["a3798e2.5e0317"]]},{"id":"654b152e.889a7c","type":"change","z":"68d8fd87.208d14","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["c13f8a7d.294ed8"]]},{"id":"a00736d9.5d4da8","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1000,"wires":[["e77ac71d.9f50b8"]]},{"id":"2e01a1d7.6dbfae","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1200,"wires":[["c394e4a0.377b28"]]},{"id":"2dc7ef48.54b69","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["bbd5f0bd.05a67"]]},{"id":"94b5f32f.52c2b","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1300,"wires":[["99633bea.0c3e28"]]},{"id":"d77a00dc.39065","type":"change","z":"68d8fd87.208d14","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1920,"wires":[["69967584.b46c0c"]]},{"id":"790be676.0f5cb8","type":"change","z":"68d8fd87.208d14","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1720,"wires":[["b11818dd.baab18"]]},{"id":"d0eadafd.65ec08","type":"change","z":"68d8fd87.208d14","name":"Temperature","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"째C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1620,"wires":[["41f0ee60.85555"]]},{"id":"3591ff39.ab9ce","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2160,"wires":[["9ec8d1d4.2796"]]},{"id":"c0c49d3.e230f6","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2360,"wires":[["17d696ff.6e6cf9"]]},{"id":"a5ee2339.41241","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2560,"wires":[["6e6a43de.48095c"]]},{"id":"44080fc6.468e7","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2060,"wires":[["843eba07.2d1458"]]},{"id":"8c0bacfb.f9658","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2460,"wires":[["f68a7aa8.649298"]]},{"id":"fa214664.4ae1a8","type":"mqtt out","z":"432c214a.859e1","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":830,"y":140,"wires":[]},{"id":"bf0bad92.83ec9","type":"link in","z":"432c214a.859e1","name":"MQTT Publish","links":["3f591f5.80816e"],"x":295,"y":220,"wires":[["10c1289.4cab6d7","fe7abb.c00bd548"]]},{"id":"10c1289.4cab6d7","type":"function","z":"432c214a.859e1","name":"Assemble Value","func":"//var fulltopic\nmsg.shorttopic = msg.topic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.topic + \"/\" + \"value\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":140,"wires":[["fa214664.4ae1a8","5c92c3c5.cdb4ec","df067e6d.e9c1e"]]},{"id":"5c92c3c5.cdb4ec","type":"debug","z":"432c214a.859e1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"fe7abb.c00bd548","type":"function","z":"432c214a.859e1","name":"Convert to Influx Friendly Value","func":"lowertopic = msg.topic\nlowertopic = lowertopic.toLowerCase()\nmsg.payload = [\n    {\n        measurement: lowertopic,\n        fields: {\n            value: Number(msg.payload),\n        },\n        timestamp: new Date()\n    }]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["19542c8b.582353","afe0596c.e426b8"]]},{"id":"19542c8b.582353","type":"debug","z":"432c214a.859e1","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":620,"wires":[]},{"id":"afe0596c.e426b8","type":"influxdb batch","z":"432c214a.859e1","influxdb":"332d824c.c7d53e","precision":"","retentionPolicy":"","name":"Send to Influx","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":580,"wires":[]},{"id":"ace4f834.f4c848","type":"comment","z":"432c214a.859e1","name":"Send to influxdb","info":"","x":480,"y":540,"wires":[]},{"id":"4506968c.bf6658","type":"comment","z":"432c214a.859e1","name":"Send to MQTT","info":"","x":480,"y":100,"wires":[]},{"id":"df067e6d.e9c1e","type":"function","z":"432c214a.859e1","name":"Assemble Config","func":"//var fulltopic\nmsg.topic = \"homeassistant/sensor/SunSynk\" + \"/\" + \"/\" + msg.shorttopic + \"/\" + \"config\";\nmsg.topic = msg.topic.replace(\"//\", \"/\");\nmsg.payload = {\n  \n  \"unit_of_measurement\": msg.unit,\n  \"device_class\": msg.deviceclass,\n  \"state_topic\": \"homeassistant/sensor/SunSynk\" + \"/\" + msg.shorttopic + \"/\" + \"value\",\n  \"name\": \"SunSynk_\" + msg.shorttopic,\n  \"unique_id\": msg.shorttopic,\n  \"device\": {\n    \"identifiers\": [\n      \"SunSynk\"\n    ],\n    \"name\": msg.shorttopic,\n    \"model\": \"SynSynk\",\n    \"manufacturer\": \"SunSynk\"\n  \n     }  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":280,"wires":[["78354dc4.f39ad4","bc3b8e36.55a0a"]]},{"id":"78354dc4.f39ad4","type":"mqtt out","z":"432c214a.859e1","name":"Publish to MQTT","topic":"","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f35ad748.1790a8","x":1150,"y":340,"wires":[]},{"id":"bc3b8e36.55a0a","type":"debug","z":"432c214a.859e1","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"19b3dbc.3b55f24","type":"function","z":"68d8fd87.208d14","name":"Solar_PV1_Power","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 186, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV1_Power\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1470,"y":2680,"wires":[["763b40c2.713b"]]},{"id":"afeffec6.7722c","type":"function","z":"68d8fd87.208d14","name":"Solar_PV1_Voltage","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 109, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV1_volts\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1470,"y":2740,"wires":[["763b40c2.713b"]]},{"id":"71948736.b59428","type":"function","z":"68d8fd87.208d14","name":"Solar_PV_Day","func":"msg.payload = { \n    'fc': 3, \n    'unitid': 1, \n    'address': 108, \n    'quantity': 1 }; \nmsg.topic = \"Solar_PV_Day\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":2800,"wires":[["763b40c2.713b"]]},{"id":"133dfffa.fc00e","type":"change","z":"68d8fd87.208d14","name":"Power","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"power","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"W","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2680,"wires":[["19b3dbc.3b55f24"]]},{"id":"f7b10ee2.2841","type":"change","z":"68d8fd87.208d14","name":"Voltage","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"voltage","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"V","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2740,"wires":[["afeffec6.7722c"]]},{"id":"d8a97c47.16d1a","type":"change","z":"68d8fd87.208d14","name":"Energy","rules":[{"t":"set","p":"deviceclass","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2800,"wires":[["71948736.b59428"]]},{"id":"c18a8da5.2299b","type":"function","z":"68d8fd87.208d14","name":"Solar_PV_Day","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"Solar_PV_Day\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":2800,"wires":[["3f591f5.80816e"]]},{"id":"c5fb7034.1a2a2","type":"function","z":"68d8fd87.208d14","name":"Solar_PV1_Power","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 1;\n} else {\n    msg.payload = (a) / 1;\n}\nif (msg.topic === \"Solar_PV1_Power\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2680,"wires":[["3f591f5.80816e"]]},{"id":"6796dcb4.12f454","type":"function","z":"68d8fd87.208d14","name":"Solar_PV1_Voltage","func":"var a\na = (msg.payload.data / 1)\nif (a > 32767) {\n  msg.payload = (a - 65535) / 10;\n} else {\n    msg.payload = (a) / 10;\n}\nif (msg.topic === \"Solar_PV1_volts\") {\n   return [ msg, null ];\n} else {\n   return [ null, msg ];\n}\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":2740,"wires":[["3f591f5.80816e"]]}]